.hidden {
    display: none;
}
.row.inner {
    margin: initial;
}

.bold {
    font-weight: bold;
}

.vertically-centered {
    padding-top: .75em;
}

.table-borderless > thead > tr > th,
.table-borderless > thead > tr > td {
    background-color: palevioletred;
}


.table-borderless.table > tbody > tr > td,
.table-borderless.table > tbody.active > tr:last-child > td,
.table-borderless.table > tbody + tbody {
    border-bottom: 4px solid white;
    border-top: 4px solid white;
}

.table-borderless.table > tbody.active > tr > td,
.table-borderless.table > tbody.active {
    background-color: pink;
    border-bottom: 4px solid pink;
    border-top: 4px solid pink;
}
