/*.table > tbody > tr > td.close-color-row-container {
    display: flex;
    height: 100%;
    padding: 0;
}*/

/*.close-color-row-swatch {
    height: 100%;
}*/
.hidden {
    display: none;
}